@import './styles/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:  'Open Sans',sans-serif, 'Roboto', 'Fira Sans';
  color: $base-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $font-size;
  background-color: $base-bg;
}

.App{
  width: 100vw;
  max-width: 1440px;
}

.app_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}

@import './styles/utility';
@import './styles/header';
@import './styles/nav.scss';
@import './styles/form.scss';
@import './styles/home.scss';
@import './styles/mapsection.scss';
